@import '@/scss/variables.scss';

.home {
  text-align: center;
  min-height: 86vh;
  padding-bottom: 30px;

  &__img {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

.homeJoin {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.homeJoin__title {
  color: $VeryVarkBlue;
  padding-bottom: 16px;
  text-transform: uppercase;
}

.homeJoin__para {
  color: $DarkGrayishBlue;
  font-size: 1.1em;
  padding-bottom: 18px;
}
.homeJoin__btn {
  background: $VeryVarkBlue;
  font-weight: bolder;
  border: none;
  color: white;
  padding: 12px 40px;
  margin: 0 auto;
  text-transform: uppercase;
  column-gap: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
