.product {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.product__container {
  display: grid;
  height: 90%;
  grid-template-columns: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 700px) {
  .product {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .product__container {
    grid-template-columns: 48% 48%;
  }
}
