@import '@/scss/variables.scss';

.card {
  width: 270px;
  margin: 0 auto;
  transition: all 0.5s;
  border-radius: 10px;

  .card__image {
    width: 100%;
    height: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }

  .price {
    padding: 12px;
  }
}

.card:hover {
  box-shadow: -10px 4px 20px $GrayishBlue;
  transform: scale(1, 1);
}

@media screen and (max-width: 1000px) {
  .card {
    min-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    min-width: 300px;
  }
}
