@import '@/scss/variables.scss';

.pagination {
  flex: 100%;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  column-gap: 10px;

  &__arrow {
    cursor: pointer;
  }

  &__button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $LightGrayishBlue;
    color: $DarkGrayishBlue;
    font-weight: bold;
    font-size: 1em;
  }

  &__button--active {
    background-color: $OrangeP;
    color: $LightGrayishBlue;
  }
}
