@import '@/scss/variables.scss';

.discountComponent {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 14px;
  padding-top: 14px;
  color: $LightGrayishBlue;
  font-size: 0.8em;

  &__span {
    color: $OrangeP;
  }
}

@media screen and (max-width: 1200px) {
  .discountComponent {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0.7em;
    &__title {
      width: 90%;
      text-align: center;
    }
  }
}
