// primary
$OrangeP: hsl(26, 100%, 55%);
$PaleOrangeP: hsl(25, 100%, 94%);

// secondary
$VeryVarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$BlackOpacity: hsl(0, 0%, 0%);
$errorMsg: #fe0000;
