@import '@/scss/variables.scss';

.loading {
  width: 98%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.loading__title {
  color: $OrangeP;
  font-size: 2em;
  padding-bottom: 4px;
}

.loading__barContainer {
  width: 100%;
  max-width: 840px;
  height: 16px;
  border: 3px solid $OrangeP;
}

.loading__bar {
  height: 100%;
  background-color: $OrangeP;
  animation: load 10s ease-in-out;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
