.pageError__title {
  width: 90%;
  font-size: 2em;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  color: hsl(220, 13%, 13%);
}

.page__span {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding-top: 30px;
}
