.pageError__title {
  width: 90%;
  font-size: 2em;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  min-height: 60vh;
  color: hsl(220, 13%, 13%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__span {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding-left: 10px;
}
